[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask_socketio = "*"
flask-jwt-simple = "*"
gunicorn = "*"
flask-cors = "*"
bcrypt = "*"
marshmallow = "*"
flask-pymongo = "*"
flask-classful = "*"
webargs = "*"
requests = "*"
boto3 = "*"
flask-redis = "*"
peewee = "*"
psycopg2 = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"

[packages.pymongo]
extras = [ "tls",]
