argon2==0.1.10
click==6.7
Flask==0.12.2
Flask-JWT==0.3.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
marshmallow==2.13.6
mongoengine==0.13.0
PyJWT==1.4.2
pymongo==3.5.1
six==1.10.0
webargs==1.8.1
Werkzeug==0.12.2
