argon2==0.1.10
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-JWT==0.3.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
marshmallow==2.13.6
mongoengine==0.13.0
PyJWT==1.4.2
pymongo==3.5.1
requests==2.18.4
six==1.10.0
urllib3==1.22
webargs==1.8.1
Werkzeug==0.12.2
